In [1]:
# Dependencies
import requests
import json
import pandas as pd
import numpy as np

In [2]:
# Save file path to variable
#envi_data = "../Data/environmental_impact_of_food.csv"

In [3]:
envi_pd = pd.read_csv('../Data/environmental_impact_of_food_resultsNU.csv')
envi_pd.head()

,Unnamed: 0,Nutr. Units / FU,"Resampled, Randomized Data",Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 46,Unnamed: 47,Unnamed: 48,Unnamed: 49,Unnamed: 50,Unnamed: 51,Unnamed: 52,Unnamed: 53,Unnamed: 54,Unnamed: 55
0,NaN,NaN,Land Use (m2/nutritional unit),NaN,NaN,NaN,NaN,NaN,"GHG Emissions (kg CO2eq/NU, IPCC 2013 incl CC ...",NaN,...,"GHG (kg CO2eq/FU, IPCC 2013 incl. CC feedbacks)",NaN,"Acid. (kg SO2eq/FU, CML2 Baseline)",NaN,"Eutr. (kg PO43-eq/FU, CML2 Baseline)",NaN,Fresh W. (L/FU),NaN,Strs. W. WU (L/FU),NaN
1,Product,NaN,5th pctl,10th pctl,Mean,Median,90th pctl,95th pctl,5th pctl,10th pctl,...,Min,Max,Min,Max,Min,Max,Min,Max,Min,Max
2,Wheat & Rye (Bread),2.7,0.4,0.4,1.4,1.0,2.9,3.7,0.3,0.3,...,0.2,20.9,1.3,12.5,0.1,28.9,0,"3,243",1,"124,568"
3,Maize (Meal),4.5,0.2,0.3,0.7,0.4,1.3,2.0,0.1,0.2,...,0.1,16.0,0.6,5.6,0.2,4.6,0,"1,590",0,"101,983"
4,Barley (Beer),5,0.04,0.1,0.2,0.2,0.5,0.6,0.1,0.1,...,0.1,0.5,1.0,7.7,0.2,2.5,1,114,1,"8,297"

In [4]:
list(envi_pd)

['Unnamed: 0',
 'Nutr. Units / FU',
 'Resampled, Randomized Data',
 'Unnamed: 3',
 'Unnamed: 4',
 'Unnamed: 5',
 'Unnamed: 6',
 'Unnamed: 7',
 'Unnamed: 8',
 'Unnamed: 9',
 'Unnamed: 10',
 'Unnamed: 11',
 'Unnamed: 12',
 'Unnamed: 13',
 'Unnamed: 14',
 'Unnamed: 15',
 'Unnamed: 16',
 'Unnamed: 17',
 'Unnamed: 18',
 'Unnamed: 19',
 'Unnamed: 20',
 'Unnamed: 21',
 'Unnamed: 22',
 'Unnamed: 23',
 'Unnamed: 24',
 'Unnamed: 25',
 'Unnamed: 26',
 'Unnamed: 27',
 'Unnamed: 28',
 'Unnamed: 29',
 'Unnamed: 30',
 'Unnamed: 31',
 'Unnamed: 32',
 'Unnamed: 33',
 'Unnamed: 34',
 'Unnamed: 35',
 'Unnamed: 36',
 'Unnamed: 37',
 'Unnamed: 38',
 'Unnamed: 39',
 'Unnamed: 40',
 'Unnamed: 41',
 'Unnamed: 42',
 'Unnamed: 43',
 'Data Without Resampling or Randomization (original study data, after harmonizing methodology)',
 'Unnamed: 45',
 'Unnamed: 46',
 'Unnamed: 47',
 'Unnamed: 48',
 'Unnamed: 49',
 'Unnamed: 50',
 'Unnamed: 51',
 'Unnamed: 52',
 'Unnamed: 53',
 'Unnamed: 54',
 'Unnamed: 55']

In [5]:
# Create new table
select_envi = envi_pd[["Unnamed: 0", "Nutr. Units / FU", "Unnamed: 5",
                           "Unnamed: 11", "Unnamed: 23", "Unnamed: 29", "Unnamed: 35"]]
select_envi.head()

,Unnamed: 0,Nutr. Units / FU,Unnamed: 5,Unnamed: 11,Unnamed: 23,Unnamed: 29,Unnamed: 35
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Product,NaN,Median,Median,Median,Median,Median
2,Wheat & Rye (Bread),2.7,1.0,0.5,5.0,2.0,157
3,Maize (Meal),4.5,0.4,0.3,2.2,0.5,10
4,Barley (Beer),5,0.2,0.2,1.2,0.4,1

In [6]:
rename = select_envi.rename(columns={"Unnamed: 0": "Product", "Unnamed: 5": "Land_Use_m2/nutritional unit","Unnamed: 11":"GHG_Emissions_kg_CO2eq/NU",
                          "Unnamed: 23":"GHG_Emissions_kg_SO2eq/NU", "Unnamed: 29" :"GHG_Emissions_kg_PO4eq/NU","Unnamed: 35":"Freshwater_Withdrawals_L/NU"})
rename.head()

,Product,Nutr. Units / FU,Land_Use_m2/nutritional unit,GHG_Emissions_kg_CO2eq/NU,GHG_Emissions_kg_SO2eq/NU,GHG_Emissions_kg_PO4eq/NU,Freshwater_Withdrawals_L/NU
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Product,NaN,Median,Median,Median,Median,Median
2,Wheat & Rye (Bread),2.7,1.0,0.5,5.0,2.0,157
3,Maize (Meal),4.5,0.4,0.3,2.2,0.5,10
4,Barley (Beer),5,0.2,0.2,1.2,0.4,1

In [7]:
clean_envi_data = rename.drop([rename.index[0] , rename.index[1]])
clean_envi_data.head()

,Product,Nutr. Units / FU,Land_Use_m2/nutritional unit,GHG_Emissions_kg_CO2eq/NU,GHG_Emissions_kg_SO2eq/NU,GHG_Emissions_kg_PO4eq/NU,Freshwater_Withdrawals_L/NU
2,Wheat & Rye (Bread),2.7,1.0,0.5,5.0,2.0,157
3,Maize (Meal),4.5,0.4,0.3,2.2,0.5,10
4,Barley (Beer),5,0.2,0.2,1.2,0.4,1
5,Oatmeal,2.6,2.9,1.0,3.7,3.8,256
6,Rice,3.7,0.6,1.0,5.0,2.5,427

In [8]:
clean_envi = clean_envi_data.reset_index()
clean_envi.head()

,index,Product,Nutr. Units / FU,Land_Use_m2/nutritional unit,GHG_Emissions_kg_CO2eq/NU,GHG_Emissions_kg_SO2eq/NU,GHG_Emissions_kg_PO4eq/NU,Freshwater_Withdrawals_L/NU
0,2,Wheat & Rye (Bread),2.7,1.0,0.5,5.0,2.0,157
1,3,Maize (Meal),4.5,0.4,0.3,2.2,0.5,10
2,4,Barley (Beer),5,0.2,0.2,1.2,0.4,1
3,5,Oatmeal,2.6,2.9,1.0,3.7,3.8,256
4,6,Rice,3.7,0.6,1.0,5.0,2.5,427

In [9]:
final_envi = clean_envi.dropna()

final_envi2 = final_envi.drop(['index'], axis=1)
final_envi2.head()

,Product,Nutr. Units / FU,Land_Use_m2/nutritional unit,GHG_Emissions_kg_CO2eq/NU,GHG_Emissions_kg_SO2eq/NU,GHG_Emissions_kg_PO4eq/NU,Freshwater_Withdrawals_L/NU
0,Wheat & Rye (Bread),2.7,1.0,0.5,5.0,2.0,157
1,Maize (Meal),4.5,0.4,0.3,2.2,0.5,10
2,Barley (Beer),5,0.2,0.2,1.2,0.4,1
3,Oatmeal,2.6,2.9,1.0,3.7,3.8,256
4,Rice,3.7,0.6,1.0,5.0,2.5,427

In [12]:
final_envi2 = final_envi2.rename(columns={"Nutr. Units / FU": "NutrUnits", 
                                      "Land_Use_m2/nutritional unit": "LandUse",
                                      "GHG_Emissions_kg_CO2eq/NU": "CO2Emissions",
                                      "GHG_Emissions_kg_SO2eq/NU": "SO2Emissions",
                                      "GHG_Emissions_kg_PO4eq/NU": "PO4Emissions",
                                      "Freshwater_Withdrawals_L/NU": "FreshwaterWithdrawals"})

final_envi2.head()

,Product,NutrUnits,LandUse,CO2Emissions,SO2Emissions,PO4Emissions,FreshwaterWithdrawals
0,Wheat & Rye (Bread),2.7,1.0,0.5,5.0,2.0,157
1,Maize (Meal),4.5,0.4,0.3,2.2,0.5,10
2,Barley (Beer),5,0.2,0.2,1.2,0.4,1
3,Oatmeal,2.6,2.9,1.0,3.7,3.8,256
4,Rice,3.7,0.6,1.0,5.0,2.5,427

In [19]:
final_envi2["FreshwaterWithdrawls"] = final_envi2["FreshwaterWithdrawals"].str.replace(",","").astype(float)
final_envi2

,Product,NutrUnits,LandUse,CO2Emissions,SO2Emissions,PO4Emissions,FreshwaterWithdrawals,FreshwaterWithdrawls
0,Wheat & Rye (Bread),2.7,1.0,0.5,5.0,2.0,157,157.0
1,Maize (Meal),4.5,0.4,0.3,2.2,0.5,10,10.0
2,Barley (Beer),5,0.2,0.2,1.2,0.4,1,1.0
3,Oatmeal,2.6,2.9,1.0,3.7,3.8,256,256.0
4,Rice,3.7,0.6,1.0,5.0,2.5,427,427.0
5,Potatoes,0.7,1.1,0.6,4.9,6.1,4,4.0
6,Cassava,1.0,1.4,1.1,3.2,0.7,0,0.0
7,Cane Sugar,-,1.8,3.2,18,11,8,8.0
8,Beet Sugar,-,1.5,1.8,12,4.3,12,12.0
9,Other Pulses,2.1,5.7,0.6,8.9,6.4,0,0.0
10,Peas,2.2,3.0,0.4,4.6,0.8,0,0.0
11,Nuts,1.6,5.3,-0.8,21,8.9,"1,117",1117.0
12,Groundnuts,2.6,3.0,1.3,6.3,6.5,344,344.0
13,Soymilk,-,0.6,0.9,2.5,1.2,1,1.0
14,Tofu,1.6,2.1,1.6,3.8,4.2,4,4.0
15,Soybean Oil,-,10,3.9,15,14,2,2.0
16,Palm Oil,-,2.4,7.2,18,10,6,6.0
17,Sunflower Oil,-,16,3.5,19,19,10,10.0
18,Rapeseed Oil,-,9.4,3.5,23,16,1,1.0
19,Olive Oil,-,17,5.1,34,39,318,318.0
20,Tomatoes,-,0.2,0.7,5.2,1.9,77,77.0
21,Onions & Leeks,-,0.3,0.4,3.3,1.6,2,2.0
22,Root Vegetables,-,0.3,0.4,2.9,1.0,10,10.0
23,Brassicas,-,0.3,0.4,8.8,5.7,55,55.0
24,Other Vegetables,-,0.2,0.4,3.7,1.8,81,81.0
25,Citrus Fruit,-,0.7,0.3,3.8,1.7,37,37.0
26,Bananas,-,1.4,0.8,6.1,2.1,1,1.0
27,Apples,-,0.5,0.4,4.0,2.0,115,115.0
28,Berries & Grapes,-,2.6,1.4,6.9,1.0,404,404.0
29,Wine,12.5,0.1,0.1,0.9,0.3,0,0.0
30,Other Fruit,-,0.9,0.7,5.4,2.1,4,4.0
31,Coffee,67,0.2,0.1,1.3,0.7,0,0.0
32,Dark Chocolate,20,2.7,0.2,1.5,3.4,1,1.0
33,Bovine Meat (beef herd),2.0,85,30,136,161,371,371.0
34,Bovine Meat (dairy herd),2.0,13,17,146,71,"1,324",1324.0
35,Lamb & Mutton,2.0,64,20,68,51,230,230.0
36,Pig Meat,1.6,8.3,6.5,71,33,"1,119",1119.0
37,Poultry Meat,1.7,6.4,4.3,37,20,214,214.0
38,Milk,-,2.1,2.7,21,11,197,197.0
39,Cheese,2.2,9.1,8.4,78,45,706,706.0
40,Eggs,1.1,5.1,3.8,49,19,570,570.0
41,Fish (farmed),2.3,2.5,3.5,18,107,693,693.0
42,Crustaceans (farmed),1.5,0.6,10,72,96,818,818.0

In [23]:
final_envi2.to_csv("../Data/clean_environment_data.csv", index=False)